{% extends 'base.html.twig' %}
{% import 'macro-list-posts.html.twig' as listPosts %}

{% block title %}{{ parent() ~  " | list of posts from the category : " ~ currentCategory.title }}{% endblock %}

{% block body %}
    <h1 class="text-center">{{ "list of posts from the category : " ~ currentCategory.title }}</h1>

    <!-- list of posts -->
    {{ listPosts.list(posts) }}
    {{ listPosts.pagination(posts) }}
{% endblock %}
